.MainDivBeBa{
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    box-shadow:rgba(0,0,0,0.06) 0.1875em 0.1875em 0.625em 0.375em;
    background-color: white;
    margin:1%;
    padding:10%;
    width:85%;
}
.itemBeBa{
    font-family: 'Dosis', sans-serif;
    padding:1%;
    line-height:1.7em;
    column-count: 2; 
    column-width: 20em; 
    column-gap: 2em; 
    font-size: 1.2rem;
}