@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.items{
    display:flex;
    padding:0.5%;
    margin:3%;
    flex-direction:row;
    }
.subItems{
    margin:1%;
    padding:0.5%;
}
.MainDiv{
    font-family: 'Varela Round', sans-serif;
}