  
    .profile{
    background-color:#B8CEF9;
    border-radius:25px;
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    }
    .profile p{
        margin: 0;
        padding: 0;
    }
    .circ{
        width: 50%;
        height: 50%;
        text-align: center;
        font-size: 3rem;
        border-radius: 80%;
        background-color: rgb(182, 104, 9);
    }
    .name{
        font-size: 1.5rem;
    }