.pers{
    margin:1%;
    padding:1%;
    display:flex;
    background-color:#B8CEF9;
    flex-direction:column;
    justify-content:row;
    height:50%;
    width:20%;
    border-radius:25px;
    margin-top:-2%;
    }
    .item{
    padding:5%;
    margin:1%;
    }
    
    a{
    font-size:25px;
    }
    a:link{
    text-decoration:none;
    color:black;
    }
    a:visited{
    text-decoration:none;
    color:black;
    }
    
    a:hover{
    text-decoration:none;
    color:black;
    }
    
    