.pers{
    margin:1%;
    padding:1%;
    display:flex;
    background-color:#B8CEF9;
    flex-direction:column;
    justify-content:row;
    border-radius:25px;
    height: 58vh;
    }
    .item{
    padding:6%;
    margin:5%;
    }
.but{
    border:hidden;
    background-color:#B8CEF9;
    font-size:1.3em;
    cursor: pointer;
}
    