.maincls{
    background-color:#B8CEF9;
    padding:1%;
    width:60%;
    display:flex;
    flex-direction:column;
    border-radius:10px;
    height: 80vh;
}
.subcls{
    margin:1%;
    padding:1%;
}