.maincls1{
    background-color:#B8CEF9;
    padding:1%;
    width:50vw;
    display:flex;
    flex-direction:column;
    border-radius:10px;
    height: 80vh;
    margin-top: -83.5vh;
    margin-right: 0vw;
    margin-left: 20vw;
}
