.main{
    /* margin-top: 5vh; */
    margin: 15vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
} 

.in{
    margin-left: 5vw;
    margin-top: 2vh;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}