.pers{
    margin:1%;
    padding:1%;
    display:flex;
    background-color:#B8CEF9;
    flex-direction:column;
    justify-content:row;
    border-radius:25px;
    height: 80vh;
    width: 15vw;
    }
    .item{
    padding:5%;
    margin:1%;
    }
    .but1{
        background-color: transparent;
        border : none;
        font-size: 15px;
    }
    
    /* a{
    font-size:25px;
    }
    a:link{
    text-decoration:none;
    color:black;
    }
    a:visited{
    text-decoration:none;
    color:black;
    }
    
    a:hover{
    text-decoration:none;
    color:black;
    }
     */
    