  
    .profile{
    background-color:#B8CEF9;
    border-radius:25px;
    width: 75vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5vh;
    margin-left: 1vw;
    font-family: 'Varela Round', sans-serif;

    }
    .profile p1{
        margin-left: 2vw;
        padding: 2vh;
    }
    .pro{
        width: 10vw;
        display: flex;
        flex-direction: column;
        align-items:flex-start ;
    }

    .pp{
        text-align: center ;
    }
    .circ{
        width: 80%;
        height: 80%;
        text-align: center;
        font-size: 3rem;
        border-radius: 100%;
        margin-left: 5vw;
        margin-top: 2vh;
        background-color: rgb(182, 104, 9);
    }
    .about p2{
        font-size: 2rem;
    }
    .about{
        margin-left: 4vw;
        width:45vw
    }
    .about li{
        font: bold;
        stroke: black;
    }
    .but{
            cursor: pointer;
    border:none;
    text-align:center;
    font-size: 1.2rem;
    background-color: rgb(253, 204, 8);
    padding:5px 10px;
    margin: 10px; 
    font-family: 'Exo 2', sans-serif;
    border-radius: 15px;
    padding:5px 20px;
        }
