
.but1 {
    border:none;
    position:relative;
   
    height: 40px;
    width: 150px;
    padding: 5px;
    border: none;
    background-color: #A2A8E4;
    float:left;
  }
  .but2 {
    border:none;
    position:relative;
    
    height: 40px;
    width: 150px;
    padding: 5px;
    border: hidden;
    outline: none;
    background-color: #D9D9D9;
    float:left;
  }