@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');

.MainDivFrFa{
    display: flex;
    flex-direction:row ;
    padding:1%;
    margin:1%;
}

.hd{
    margin-left:5%;
    font-family: 'Changa', sans-serif;
}