@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
.main{
    /* background-color: #A2A8E4; */
    display: flex;
    margin: 2vh 0;
    justify-content: space-between;
  font-family: 'Bree Serif', serif;
}
.inf{
    width: 56%;
    background-color: #A2A8E4;
    padding: 2vh 4vw;
    border-radius: 100px 0px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.inf p{
    margin: 5px 0;
}
.main img{
    border-radius: 100%;
    width: 20vw;
    height: 30vh;
    margin-right: 10px;
    border: 1px solid black;
}
.det{
    cursor: pointer;
    border:none;
    padding:0.5%;
    text-align:center;
    font-size: 1.1rem;
    padding:5px 10px;
    font-family: 'Exo 2', sans-serif;
    background-color: rgb(255, 44, 68);
    color: white;
    margin: 10px;
    border-radius: 15px;
}
.join{
    cursor: pointer;
    border:none;
    text-align:center;
    font-size: 1.2rem;
    background-color: rgb(253, 204, 8);
    padding:5px 10px;
    margin: 10px; 
    font-family: 'Exo 2', sans-serif;
    border-radius: 15px;
    padding:5px 20px;

}

.action{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A2A8E4;
}
.ac2{
    width : 10%;
    border-radius: 0px 100px 100px 0px;
    background-color: #A2A8E4;
}
