@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

 .main{
    background-color: white;
    width: 80%;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;

  }
  .main h1{
    text-align: center;
  }
 .action{
  display: flex;
  justify-content: left;
 }
 .action button{
  cursor: pointer;
  border:none;
  padding:0.5%;
  text-align:center;
  font-size: 1rem;
  margin-right: 2vh;
  font-family: 'Exo 2', sans-serif;
 }
 
 .action button:hover{
  background-color: #A2A8E4;
 }

 .On{
  background-color: #A2A8E4;
 }
 .form{
  width: 80vw;
  margin:5vh auto;
  display: flex;
  justify-content: center;
 }
 .form input{
  width: 40vw;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 7px;
  font-size: 1rem;
  font-family: 'Exo 2', sans-serif;
  cursor: pointer;
 }
 .form div{
  margin-right:1vw;
 }
 .form select{
  padding: 5px;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  outline: none;
  font-family: 'Exo 2', sans-serif;
  cursor: pointer;
 }

 .form button{
  font-size: 1rem;
  border: none;
  padding: 5px 25px;
  outline: none;
  background-color: rgb(149, 149, 250);
  border-radius: 10px;
  color: white;
  font-family: 'Exo 2', sans-serif;
 }

 .form button:hover{
  background-color: rgb(106, 213, 0);
 }
 .spin{
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.2rem;
  margin: 40px 0;
}
.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}