.three{
    margin:2%;
    padding:1%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    background-color:#B8CEF9;
    border-radius:12px;
    width:63vw;
    }
    
    .items{
    margin-left:5%;
    font-size:1.2em;
    padding:3%;
    }