.fk{
    width:auto;
    height:auto;
}
.h{
    text-align:center;
    font-size:30px;
}
.p1
{
    font-weight:600;
    width: 70%;

}
ul{
    list-style-type:disc;
}
.b1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.oval {
    width: 200px;
     height: 130px;
     background: #A2A8E4;
     border-radius: 70%;
     margin:-15% 0 0 70%;
}
.oval2 {
    position:relative;
    width: 200px;
     height: 130px;
     background: #A2A8E4;
     border-radius: 70%;
     margin:8% 70% 0 8%;
}

.p11,.p112{
    position:relative;
    top:35px;
    padding:2%;
    text-align:center;
    line-height:1.2px;
}
.b2{
    float:right;
    position:relative;
    border:none;
    margin:8% 0 0 1%;
    line-height:1.8;
    font-size:18px;
}
.ss{
    position:relative;
    line-height:0.5px;
}
.b3{
    border:none;
    margin:5% 0 0 4%;
    line-height:1.8;
    font-size:18px;
}
.oval3 {
    position:relative;
    width: 200px;
     height: 130px;
     background: #A2A8E4;
     border-radius: 70%;
     margin:-10% 0 0 70%;
}