        .d3{
            width:100vw;
            height: 60vh;
            background: url("../../Images/helpera.jpeg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    .d3 a{
        position: absolute;
        top: 50vh;
        left: 45vw;
        padding:8px 15px;
        font-size: 1.2rem;
        border-radius: 17px;
        border: none;
        color: white;
    }
    .d3 a:hover{
        background-color: rgb(70, 240, 70);
    }