 .main{
    background-color: white;
    width: 80%;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;

  }
 .action{
  display: flex;
  justify-content: left;
 }
 .action button{
  cursor: pointer;
  border:none;
  padding:0.5%;
  text-align:center;
  font-size: 1.2rem;
  margin-right: 2vh;
  background-color: white;
  font-family: "Noto Sans Thai";
 }
 .action button:hover{
  background-color: #A2A8E4;
 }

