/* Summary Section  */
.p a{
    font-family: 'Comfortaa', cursive;
color: white;
text-align: center;
}
.para{
    margin-top: 10px;
}
.SummarySection{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr ;
    height: 45vh;
}
.SummarySection::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 45vh;
    background-color:  rgb(137, 137, 255);
    z-index: -1;

}

.SummaryItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 margin-top: 4vh;
}
.SummaryItems h3{
    font-family: 'Bree Serif', serif;
    color: white;
}

.rights{
    text-align: center;
    
}